.footer{
    position: absolute;
    margin-top: 2500px;
    background-color: var(--Cinza-escuro);
    
}

.p__footer{
    margin-left: 51.2rem;
    margin-right: 51rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    color: var(--Branco-cinza);
    font-family:'DM Sans', sans-serif;

    
}


.meunome {
    color: var(--Verde);
}